<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 부트스트랩 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- 제이쿼리 라이브러리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 폰트어썸 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- css링크 -->
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    /> -->
    <link rel="stylesheet" href="../static/css/style.css" />

    <!-- 파비콘 (
"shortcut icon"은 IE와 호환, "icon"은 다른 브라우저와 호환됩니다.)-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <!-- 구글 폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />

    <title>React 2조</title>
  </head>
  <body>
    <div class="nav">
      <a href="/" class="navbar-brand">
        <img class="logo" src="../static/image/logo.png" alt="로고" />
      </a>
      <div
        class="member-nav"
        role="group"
        aria-label="Bacic radio toggle button group"
      >
        <input
          onchange="showByMember(this.value)"
          type="radio"
          class="btn-check member-btn"
          name="member"
          id="member1"
          value="member1"
          autocomplete="off"
        />
        <label class="btn btn-outline-primary" for="member1"> 김윤수 </label>
        <input
          onchange="showByMember(this.value)"
          type="radio"
          class="btn-check member-btn"
          name="member"
          id="member2"
          value="member2"
        />
        <label class="btn btn-outline-primary" for="member2">조윤건</label>
        <input
          onchange="showByMember(this.value)"
          type="radio"
          class="btn-check member-btn"
          name="member"
          id="member3"
          value="member3"
        />
        <label class="btn btn-outline-primary" for="member3">박은희</label>
        <input
          onchange="showByMember(this.value)"
          type="radio"
          class="btn-check member-btn"
          name="member"
          id="member4"
          value="member4"
        />
        <label class="btn btn-outline-primary" for="member4">조유이</label>
        <input
          onchange="showByMember(this.value)"
          type="radio"
          class="btn-check member-btn"
          name="member"
          id="member4"
          value="member4"
        />
        <label class="btn btn-outline-primary" for="member4">김선아</label>
      </div>
    </div>


    <div class="content-wrap">
      <div class="main-header" id="main-header">
        <div class="title">
          <h1>
            프로젝트명 소개:<br />
            지피지기면 백전백승
          </h1>
          <div class="main-header-side">
            <p class="membergold">
              <span>우리팀의 목표:</span>
              전부 다 비전공자 및 타 직군 출신으로 웹개발 종합반의 기술을
              완벽마스터 하자!
            </p>
            <div class="recommend-btn">
              <button class="btns" id="post-star">응원하기</button>
            </div>
          </div>
        </div>
      </div>
        <!-- 세부 게시물 모달 -->
        <div class="post-wrap">
            <div class="post-content">
              <div class="input-group mb-3">
                <span class="input-group-text" id="membername">팀원이름</span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="팀원이름"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
              </div>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="팀과 자신에 대한 설명 MBTI"
                  id="mbti"
                  style="height: 100px"
                ></textarea>
                <label for="mbti">팀과 자신에 대한 설명 MBTI</label>
              </div>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="객관적인 자신의 장점"
                  id="Advantages"
                  style="height: 100px"
                ></textarea>
                <label for="floatingTextarea2">객관적인 자신의 장점</label>
              </div>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="자신의 협업 스타일 소개"
                  id="Cooperation"
                  style="height: 100px"
                ></textarea>
                <label for="Cooperation">자신의 협업 스타일 소개</label>
              </div>
            </div>
          </div>
      <main class="main-content">
        <p>우리팀의 목표: <br /></p>

        <div id="cards" class="cards row row-cols-1 row-cols-md-3 g-6">
          <div class="col" id="card">
            <div class="card">
              <div class="card-img-wrap">
                <img
                  src="https://i.namu.wiki/i/qFWfOHBd0mx7NmNquwtaSbUjnPumXpk5oi1jxNKpWUsv_eGJe44xm9AePkbhQ6hIxTjMtroFaOFPbhBy0MSbNQ.webp"
                  class="card-img"
                  alt="김윤수"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">김윤수</h5>
                <p class="card-introduction">
                    팀과 자신에 대한 설명 MBTI
                  <p>해리포터가 있는 메타버스가 아닌 제가 사는 지구에는 마법사 대신 개발자가 있습니다..
                    저도 그런 개발자가 되고싶어요…라고 원대한 꿈만 꾸고 있는 ENFP입니다.</p>
                </p>
                <p class="card-Advantages">
                    객관적인 자신의 장점
                  <p>해리포터가 있는 메타버스가 아닌 제가 사는 지구에는 마법사 대신 개발자가 있습니다..
                    저도 그런 개발자가 되고싶어요…라고 원대한 꿈만 꾸고 있는 ENFP입니다.</p>
                </p>
                <p class="card-collaboration">
                    자신의 협업 스타일 소개
                  <p>서포터 / 메인으로 주축을 잡는거보다 서포트하면서 이리저리 다양한 방법을 시도해보는것을 좋아합니다.</p>
                </p>
              </div>
            </div>
          </div>
          <div class="col" id="card">
            <div class="card">
              <div class="card-img-wrap">
                <img
                  src="https://i.namu.wiki/i/qFWfOHBd0mx7NmNquwtaSbUjnPumXpk5oi1jxNKpWUsv_eGJe44xm9AePkbhQ6hIxTjMtroFaOFPbhBy0MSbNQ.webp"
                  class="card-img"
                  alt="조윤건"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">조윤건</h5>
                <p class="card-introduction">
                    팀과 자신에 대한 설명 MBTI
                  <p>조윤건 97년생 ISFJ
                    비전공자이고 올해 시작해서 초심자입니다.</p>
                </p>
                <p class="card-Advantages">
                    객관적인 자신의 장점
                  <p>얘기를 잘 들어줌. 고민상담 잘함.
                    원만한 인간관계(갈등이 잘 없음)
                    계획적임(리소스 관리가 잘되는 편)</p>
                </p>
                <p class="card-collaboration">
                    자신의 협업 스타일 소개
                  <p>서포터 / 메인으로 주축을 잡는거보다 서포트하면서 이리저리 다양한 방법을 시도해보는것을 좋아합니다.</p>
                </p>
              </div>
            </div>
          </div>
         
        
        
         
        </div>
      </main>

        
      <!-- 세부 게시물 모달 -->
      <div class="post-modal-wrap">
        <div class="post-mobal-content">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">닉네임</span>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect02">
              <option selected>선택해주세요</option>
              <option value="1">🔥</option>
              <option value="2">🔥🔥</option>
              <option value="3">🔥🔥🔥</option>
              <option value="4">🔥🔥🔥🔥</option>
              <option value="5">🔥🔥🔥🔥🔥</option>
            </select>
            <label class="input-group-text" for="inputGroupSelect02"
              >우리를 얼마나 응원하니?</label
            >
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea2"
              style="height: 100px"
            ></textarea>
            <label for="floatingTextarea2">응원의 말을 적어주세요</label>
          </div>

          <div class="post-modal-close-btn" id="post-modal-close">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
      </div>
      <!-- 응원의 댓글 -->
      <div class="Cheering-wrap">
      <span>닉네임</span><span id="nickname"></span>
<span>우리를 얼마나 응원하니?</span><span id="fire"></span>
<span>응원의 말을 적어주세요</span><span id="comment"></span>
    </div>
    </div>
    <div class="footer"></div>

    <script src="../static/js/script.js"></script>
  </body>
</html>
